<% provide(:title, "About")%>

<h1>About</h1>
<p>
<center>
 Welcome to Share-It!
 </center>
</p>

<p>
<center>
Share-It is an application that will allow you to quickly and easily share your contact information with anyone around you. Enjoy!
</center>
</p>