<% provided(:title, "About")%>

<h1>About</h1>
<p>
 Welcome to Share-It!

Share-It is an application that will allow you to quickly and easily share your contact information with anyone in your room. Enjoy!

back end/Ruby on Rails - David Ivey IOS/Swift - David Chen Android/Java - Joe Shvedsky
</p>