<footer class="footer">
  <small>
    The Share-It cross-platform application
    by David Ivey, David Chen, and Joe Shvedsky</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://github.com/iveyd/Share-it/wiki">Wiki</a></li>
    </ul>
  </nav>
</footer>